<div class="container mx-50 text-white text-center  bg-gray-500 py-5 pb-4 rounded">
  <h1 class="text-center">Bienvenue <span class="font-bold text-blue-400">{{userName}} </span>!</h1>
  <div class="flex mt-20 text-center inset-y-0 left-0">
    <div class="flex-none w-36">
    <p>image</p>
    </div>
    <div class="flex-none w-96">
      <p>{{userPostsNumber}}</p>
      <p>Posts</p>
    </div>
    <div class="flex-none ">
      <p>{{userFollowing}}</p>
      <p>Abonnements</p>
    </div >
    <div class="flex-none w-96">
      <p>{{userFollowers}}</p>
      <p>Abonnes</p>
    </div>
  </div>
</div>
